In [24]:
#imports
from sklearn.model_selection import train_test_split
from random import random
from time import sleep




import random
# import multiprocessing
# from multiprocessing import Pool
from datetime import date

import snscrape.modules.twitter as sntwitter
import pandas as pd
import numpy as np
from wordcloud import WordCloud
import re
import matplotlib.pyplot as plt
import seaborn as sns
# plt.style.use('fivethirtyeight')
import nltk
from nltk.stem.snowball import SnowballStemmer


from  nltk.sentiment import SentimentIntensityAnalyzer
from nltk.corpus import stopwords
import concurrent.futures

from copy import deepcopy
from pprint import pprint



import os

# import spacy
# nlp = spacy.load("en_core_web_sm")

import matplotlib.image as mpimg

from pandas.plotting import table 










from matplotlib_venn_wordcloud import venn3_wordcloud,venn2_wordcloud
from wordcloud import WordCloud,ImageColorGenerator
from matplotlib_venn import venn3, venn3_circles,venn2_circles,venn2,venn2_unweighted

In [25]:


#read in top 1,000 celebs
url='https://gist.githubusercontent.com/mbejda/9c3353780270e7298763/raw/1bfc4810db4240d85947e6aef85fcae71f475493/Top-1000-Celebrity-Twitter-Accounts.csv'
celebs=pd.read_csv(url)

celebs=celebs.to_dict()
# celebs['twitter']

In [26]:





## Below are two ways of scraping using CLI commands.
## Comment or uncomment as you need. If you currently run the script as is it will scrape both queries
## then output two different csv files.
#
## Query by username
## Setting variables to be used in format string command below


# tweet_count =500 #this number is the last n tweets
# dflist=[]
# dfdict={}
# count=-1*tweet_count
# celeblen=len(celebs.get('twitter').keys())
# numindex=list(range(0,tweet_count*celeblen))
# len(numindex)


# dictcount=0
# errornames=[]


# for c in range(0,celeblen):
#     sleep(random.randrange(0,7)/10)
#     dictcount+=1
#     count=count+tweet_count
#     maxnum=count+tweet_count

#     twitter_handle=str(celebs.get('twitter')[c])
#     name=str(celebs.get('name')[c])
    
#     cur=numindex[count:maxnum]
   
#     #create Series to append the current handle to the dataframe
#     handleseries={i:twitter_handle for i in cur}       
#     #create Series to append the current name to dataframe   
#     nameseries={i:name for i in cur}
  

  
#     try:
#         # Using OS library to call CLI commands in Python
#         os.system("snscrape --jsonl --max-results {} twitter-search 'from:{}'> user-tweets.json".format(tweet_count, twitter_handle))

#          # Reads the json generated from the CLI command above and creates a pandas dataframe
#          #if there is an error then it will just move to the next  
#         tweets_df1 = pd.read_json('user-tweets.json', lines=True).set_index(keys=pd.Index(cur)).to_dict()
    
#         if dictcount==1:
#             tweets_df1.update({'name':nameseries})
#             tweets_df1.update({'handle':handleseries})
#             dfdict={**dfdict,**tweets_df1}
#         else:
#             for key in dfdict.keys():
#                 tweets_df1.update({'name':nameseries})
#                 tweets_df1.update({'handle':handleseries})
#                 a=tweets_df1.get(key)
#                 b=dfdict.get(key)
#                 c={**a,**b}
#                 dfdict.update({key:c})
#     except:
#         errornames.append(name)
#         print(errornames)
#         pass
            
        

    


   
    


# dataframe=pd.DataFrame(dfdict).sort_index()
# cols=list(set(dataframe.columns)-{'name','handle'})
# cols.insert(0,'name')
# cols.insert(0,'handle')


# dataframe=dataframe[dataframe.lang=='en']

# dataframe


# pd.to_pickle(dataframe,"500perpull.pkl")

      
# Wrangling Takeaways

### Aquire
* For acquire we grabbed the data from https://gist.githubusercontent.com/mbejda/9c3353780270e7298763/raw/1bfc4810db4240d85947e6aef85fcae71f475493/Top-1000-Celebrity-Twitter-Accounts.csv then we used the handles to create a list of the twitter handles. 

* We use the SNSCRAPE twitter module and iterate through  the list gathering the last 500 tweets per celeb. From there the results are saved as a JSON, the JSON is read into a data frame which is updated for each celeb.

* After that we merge the data frame with the data from https://raw.githubusercontent.com/twitter-personality-predictor/twitter-personality-predictor/main/twitter_handles.csv
Which wraps up the acquire phase.


### Prep

* We used several functions for to clean. We cleaned by filters and then lemmatization. We also translated our emojis into text using from emot.emo_unicode import EMOJI_UNICODE, EMOTICONS_EMO.

# Warning you need to uncomment above to scrape and create the pickle. 

## Your speed my vary but it took 45 mins for the scrape

## The code below directly below is to the big scrape

In [27]:
# Read from the pickle and then display the unique file

dataframe_a=pd.read_pickle("./fivezerominpull.pkl")
dataframe_b=pd.read_pickle("500perpull.pkl")

In [28]:
dataframe_a=dataframe_a[dataframe_a.lang=='en']
display(len(dataframe_a))
display(len(dataframe_b))
merged=pd.concat([dataframe_a,dataframe_b])
display(len(merged))
merged.name=merged.name.str.lower()
dataframe=merged

50762

246412

297174

In [29]:
merged.columns

Index(['handle', 'name', 'content', 'quotedTweet', 'outlinks', 'retweetCount',
       'hashtags', 'sourceLabel', 'sourceUrl', 'tcooutlinks', 'inReplyToUser',
       'retweetedTweet', '_type', 'media', 'lang', 'url', 'conversationId',
       'source', 'date', 'place', 'mentionedUsers', 'quoteCount',
       'coordinates', 'replyCount', 'id', 'cashtags', 'inReplyToTweetId',
       'user', 'likeCount', 'renderedContent'],
      dtype='object')

In [30]:
ptypeurl='https://raw.githubusercontent.com/twitter-personality-predictor/twitter-personality-predictor/main/twitter_handles.csv'

ptypes=pd.read_csv(ptypeurl);ptypes
newcols=[]
for x in ptypes.columns.to_list():
    y=x.lower()
    newcols.append(y)

ptypes.columns=newcols
ptypes['handle']=ptypes.twitter
ptypes.drop(columns='twitter',inplace=True)
ptypes.name=ptypes.name.str.lower();ptypes

dataframe.name=dataframe.name.str.lower();dataframe.columns

Index(['handle', 'name', 'content', 'quotedTweet', 'outlinks', 'retweetCount',
       'hashtags', 'sourceLabel', 'sourceUrl', 'tcooutlinks', 'inReplyToUser',
       'retweetedTweet', '_type', 'media', 'lang', 'url', 'conversationId',
       'source', 'date', 'place', 'mentionedUsers', 'quoteCount',
       'coordinates', 'replyCount', 'id', 'cashtags', 'inReplyToTweetId',
       'user', 'likeCount', 'renderedContent'],
      dtype='object')

In [31]:
dataframe.columns

Index(['handle', 'name', 'content', 'quotedTweet', 'outlinks', 'retweetCount',
       'hashtags', 'sourceLabel', 'sourceUrl', 'tcooutlinks', 'inReplyToUser',
       'retweetedTweet', '_type', 'media', 'lang', 'url', 'conversationId',
       'source', 'date', 'place', 'mentionedUsers', 'quoteCount',
       'coordinates', 'replyCount', 'id', 'cashtags', 'inReplyToTweetId',
       'user', 'likeCount', 'renderedContent'],
      dtype='object')

In [32]:


a=ptypes.name.values.tolist()
b=ptypes.type.values.tolist()
ptypemap=dict(zip(a,b))
# ptypemap

In [33]:
dataframe=dataframe[dataframe['quotedTweet'].isna()]
dataframe.dropna(axis=1,inplace=True)
dataframe.dropna(axis=0,inplace=True)
dataframe

# dataframe.dropna(axis=1,inplace=True)
dataframe['type']=dataframe.name.map(ptypemap)



cols=list(set(dataframe.columns)-{'name','handle','type'})
cols.insert(0,'handle')
cols.insert(0,'name')
cols.insert(0,'type')

dataframe=dataframe[cols]

len(dataframe)

/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/1665210032.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.dropna(axis=1,inplace=True)
/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/1665210032.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.dropna(axis=0,inplace=True)
/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/1665210032.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['type']=dataframe.name.map(ptypemap)

254650

In [34]:



display(pd.DataFrame((dataframe['name'].unique()),index=range(0,len(dataframe['name'].unique()))).T)
display(dataframe[['type','name']].groupby(['type']).nunique().T)

,0,1,2,3,4,5,6,7,8,9,...,837,838,839,840,841,842,843,844,845,846
0,katy perry,justin bieber,taylor swift,rihanna,the countess,justin timberlake,ellen degeneres,britney spears,cristiano ronaldo,kim kardashian west,...,nicolas vazquez,kenan doƒüulu,flor de la ve,cyril hanouna,man√°,sebastian rulli,carlos baute,levent √ºz√ºmc√º,adal ramones,manu gavassi

type,ENFJ,ENFP,ENTJ,ENTP,ESFJ,ESFP,ESTJ,ESTP,INFJ,INFP,INTJ,INTP,ISFJ,ISFP,ISTJ,ISTP
name,37,59,21,49,63,103,23,50,25,15,11,11,32,49,12,30

In [35]:
display(dataframe.columns.to_frame().T)
cols=['type','name','renderedContent','content','handle','date','lang','likeCount','retweetCount']
keep=dataframe[cols];display(len(keep))
keep=keep[keep['lang']=='en'];display(len(keep))
cols=list(set(keep.columns)-{'lang'})
keep=keep[cols]
keep

,type,name,handle,renderedContent,content,conversationId,likeCount,id,lang,_type,quoteCount,source,retweetCount,date,replyCount,url,sourceUrl,sourceLabel,user
0,type,name,handle,renderedContent,content,conversationId,likeCount,id,lang,_type,quoteCount,source,retweetCount,date,replyCount,url,sourceUrl,sourceLabel,user

254650

254650

,type,renderedContent,content,likeCount,retweetCount,date,handle,name
0,ENFJ,if you wanna know why any human is they way th...,if you wanna know why any human is they way th...,29840,4575,2022-10-30 22:15:09+00:00,katyperry,katy perry
1,ENFJ,"wait, if it‚Äôs called a ‚Äúfeed‚Äù are we literally...","wait, if it‚Äôs called a ‚Äúfeed‚Äù are we literally...",10502,881,2022-10-29 07:01:46+00:00,katyperry,katy perry
3,ENFJ,heck I pour beer out of my tits (that‚Äôs a part...,heck I pour beer out of my tits (that‚Äôs a part...,3042,297,2022-10-27 19:07:44+00:00,katyperry,katy perry
4,ENFJ,The show‚Äôs set list is a fun üé¢ through memory...,The show‚Äôs set list is a fun üé¢ through memory...,3654,336,2022-10-27 19:07:21+00:00,katyperry,katy perry
5,ENFJ,Welcoming all my #flatearthers #spaceisfakers ...,Welcoming all my #flatearthers #spaceisfakers ...,20819,2318,2022-10-27 19:05:27+00:00,katyperry,katy perry
...,...,...,...,...,...,...,...,...
496999,ESFP,Block that devil out your ear this morning #s...,Block that devil out your ear this morning #s...,511,148,2022-03-17 15:04:10+00:00,therealjuicyj,juicy j
497228,ENFP,Spaces?,Spaces?,2126,91,2021-10-30 02:13:17+00:00,manugavassi,manu gavassi
497240,ENFP,QUERO MORAR NESSE LOOK HELP. üòç #MPN2021 https:...,QUERO MORAR NESSE LOOK HELP. üòç #MPN2021 https:...,4395,306,2021-09-28 22:29:07+00:00,manugavassi,manu gavassi
497285,ENFP,.ebaselE,.ebaselE,2937,142,2021-08-13 23:31:10+00:00,manugavassi,manu gavassi
497395,ENFP,"Slow down, you‚Äôre doing fine ‚ù§Ô∏è","Slow down, you‚Äôre doing fine ‚ù§Ô∏è",13170,1225,2020-09-30 04:33:31+00:00,manugavassi,manu gavassi

## Aquire is done 


## Prep is below

In [36]:
group1=keep[['type','name','content']].groupby(by=['type','name'])
lista=set(group1.groups.keys())
group2=keep[['type','name']].groupby(by=['type'])
listb=list(set(group2.groups.keys()))
group3=keep[['name','content']].groupby(by=['name'])   
indexbyperson={}
for b in listb:
    g=list(group2.get_group(b).index)
    n=list(group2.get_group(b).name.unique())
    
    ndict={}
    for i in n:
        k=list(group3.get_group(i).index)
        c=list(group3.get_group(i).content)
        ndict.update({i:{'index':k,'content':c}})
    indexbyperson.update({b:{'index':g,'name':ndict}})

In [37]:


# namegroups=allthewaydown.groupby('name')
# keys=namegroups.groups.keys()
# for k in keys:
#     print(len(namegroups.get_group(k)))

In [38]:
    

#pdf plumber
#csv.preview
import pandas as pd
#import unicode character database
import unicodedata
#import regular expression operations
import re

#import natural language toolkit
import nltk
from nltk.corpus import words
#import our aquire


#import our stopwords list
from nltk.corpus import stopwords
from copy import deepcopy

In [39]:
more_stopwords = ['like', 'im', 'think', 'dont', 'people', 'know', 'one', 'get', 'really','thing',
                  'would', 'time', 'type', 'make', 'friend', 'ive', 'much','amp','twitter',
                 'say', 'way', 'see', 'thing', 'want', 'thing', 'good', 'something', 'lot',
                  'also', 'go', 'always', 'even', 'well', 'someone','https','http','com','co',',',"'"]



stops=stopwords.words(['french','german','english','spanish','portuguese'])+ more_stopwords






pd.to_pickle(stops,'stopwords.pkl')










def stopfilter(text,stop_words_extend_reduce=["'"]):
    'we use symmetric difference so if a is already in stop words then it will be added to our third set else our third set will be missing it'
    #create oujr english stopwords list
    stops = set(pd.read_pickle('stopwords.pkl'))

   
    stop_words_extend_reduce=set(stop_words_extend_reduce)
    stops=stops.symmetric_difference(stop_words_extend_reduce)

    # stops=(stops|stop_words_extend)-exclude_words
    #another way
    
    filtered=list(filter((lambda x: x not in stops and len(x)>=2), text.split()))
    filtered=' '.join(filtered)
 

    return filtered






def basic_clean(text,regexfilter=r'[^a-z0-9\'\s]'):
    '''   
    Filters out all special characters if you need to edit then supply a new regex filter 
    
    
    
    
    '''
    #make a copy and begin to transform it
    newtext = text.lower()

    #encode into ascii then decode
    newtext = unicodedata.normalize('NFKD', newtext)\
    .encode('ascii', 'ignore')\
    .decode('utf-8')

    #use re.sub to remove special characters
    newtext = re.sub(fr'{regexfilter}', ' ', newtext)

    
    


    return newtext

    
def lemmatizor(text,regexfilter=r'[^a-z0-9\'\s]'):
    '''    
    
      Takes text, tokenizes it, lemmatizes it
      lemmafiltered=list(filter(lambda x: (len(x)>1 and len(x)<9 and x.isalpha()==True),  lemmatized.split()))
      needs to be commented out after the first run (up to modeling)
      # lemmafiltered=list(filter(lambda x: (len(x)>1 and len(x)<9 and x.isalpha()==True and (x in  total)), lemmatized.split()))
      needs to be un commented commented
    
    
    
    
    
    '''
    total=list(pd.read_pickle('words.pkl'))
    

    #make ready the lemmatizer object
    newtext=tokenizer(text,regexfilter=regexfilter)
    wnl = nltk.stem.WordNetLemmatizer()
    lemmatized=split_apply_join(wnl.lemmatize,newtext)

    # since the average word lenght in English is 4.7 characters we will apply a conservative estimate and drop any word that is larger than 8 characters as it is likely not a word
    # we also recursivley took the set of all words generated then compared that to nltk.corpus.words.words() and used that list as filter this is where total comes from

    # lemmafiltered=list(filter(lambda x: (len(x)>1 and len(x)<9 and x.isalpha()==True and (x in  total)), lemmatized.split()))

    lemmafiltered=list(filter(lambda x: (len(x)>1 and len(x)<9 and x.isalpha()==True),  lemmatized.split()))

    lemmafiltered=' '.join(lemmafiltered)
  
    lemmafiltered=basic_clean(lemmafiltered,regexfilter=regexfilter)

    return lemmafiltered
    
    
def split_apply_join(funct,listobj):
    'helperfuction letters'

    mapped=map(funct, listobj)
    mapped=list(mapped)
    mapped=''.join(mapped)
  
    return mapped




def tokenizer(text,regexfilter=r'[^a-z0-9\'\s]'):
    ''' 
    For a large file just save it locally
    
    
    
    
    
    '''
    newtext=basic_clean(text,regexfilter=regexfilter)
    #make ready tokenizer object
    tokenize = nltk.tokenize.ToktokTokenizer()
    #use the tokenizer
    newtext = tokenize.tokenize(newtext, return_str=True)
    return newtext

In [40]:





# new_list = []
def domainmapper(spot):
        if (spot == 'intj') | (spot == 'entj') | (spot == 'intp') | (spot == 'entp'):
            return 'analyst'
        elif (spot == 'infj') | (spot == 'enfj') | (spot == 'infp') | (spot == 'enfp'):
            return 'diplomat'
        elif (spot == 'istj') | (spot == 'estj') | (spot == 'isfj') | (spot == 'esfj'):
            return 'sentinel'
        elif (spot == 'istp') | (spot == 'estp') | (spot == 'isfp') | (spot == 'esfp'):
            return 'explorer'
        # else:
        #     new_list.append('other')



def pairwiseattributemapper(df):
    x=df['type']
    i_e={}

    n_s={}

    t_f={}

    j_p={}


    for spot in x:
        # print(spot)
        # print(type(spot))
        if (spot[0]=='i')|(spot[0]=='e'):
            if spot[0]=='i':
                i_e.update({spot:'i'})
            else:
                i_e.update({spot:'e'})    
        if (spot[1]=='n')|(spot[1]=='s'):
            if spot[1]=='n':
                n_s.update({spot:'n'})
            else:
                n_s.update({spot:'s'})    
        if (spot[2]=='t')|(spot[2]=='f'):
            if spot[2]=='t':
                t_f.update({spot:'t'})
            else:
                t_f.update({spot:'f'})    
        if (spot[3]=='j')|(spot[3]=='p'):
            if spot[3]=='j':
                j_p.update({spot:'j'})
            else:
                j_p.update({spot:'p'})    
    df['i|e']=x.map(i_e)
    df['n|s']=x.map(n_s)
    df['t|f']=x.map(t_f)
    df['j|p']=x.map(j_p)
    return df
    
       
        # else:
        #     new_list.append('other')


tryagain=keep[['type','name','renderedContent','handle','date','likeCount','retweetCount']]
tryagain.type=tryagain.type.str.lower()        

tryagain['content']=tryagain['renderedContent']
tryagain=tryagain[['type','name','content','handle','date','likeCount','retweetCount']]
tryagain.drop_duplicates(inplace=True)
tryagain.dropna(inplace=True)

/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/1320820379.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tryagain.type=tryagain.type.str.lower()
/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/1320820379.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tryagain.drop_duplicates(inplace=True)
/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/1320820379.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tryagain.dropna(inplace=True)

In [41]:

tryagain['domain'] = tryagain['type'].apply(domainmapper)
tryagain=pairwiseattributemapper(tryagain)

/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3057441650.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tryagain['domain'] = tryagain['type'].apply(domainmapper)
/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/1320820379.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['i|e']=x.map(i_e)
/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/1320820379.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['n|s']=x.map(n_s)
/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/1320820379.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['t|f']=x.map(t_f)
/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/1320820379.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['j|p']=x.map(j_p)

In [42]:
tryagain

,type,name,content,handle,date,likeCount,retweetCount,domain,i|e,n|s,t|f,j|p
0,enfj,katy perry,if you wanna know why any human is they way th...,katyperry,2022-10-30 22:15:09+00:00,29840,4575,diplomat,e,n,f,j
1,enfj,katy perry,"wait, if it‚Äôs called a ‚Äúfeed‚Äù are we literally...",katyperry,2022-10-29 07:01:46+00:00,10502,881,diplomat,e,n,f,j
3,enfj,katy perry,heck I pour beer out of my tits (that‚Äôs a part...,katyperry,2022-10-27 19:07:44+00:00,3042,297,diplomat,e,n,f,j
4,enfj,katy perry,The show‚Äôs set list is a fun üé¢ through memory...,katyperry,2022-10-27 19:07:21+00:00,3654,336,diplomat,e,n,f,j
5,enfj,katy perry,Welcoming all my #flatearthers #spaceisfakers ...,katyperry,2022-10-27 19:05:27+00:00,20819,2318,diplomat,e,n,f,j
...,...,...,...,...,...,...,...,...,...,...,...,...
496999,esfp,juicy j,Block that devil out your ear this morning #s...,therealjuicyj,2022-03-17 15:04:10+00:00,511,148,explorer,e,s,f,p
497228,enfp,manu gavassi,Spaces?,manugavassi,2021-10-30 02:13:17+00:00,2126,91,diplomat,e,n,f,p
497240,enfp,manu gavassi,QUERO MORAR NESSE LOOK HELP. üòç #MPN2021 https:...,manugavassi,2021-09-28 22:29:07+00:00,4395,306,diplomat,e,n,f,p
497285,enfp,manu gavassi,.ebaselE,manugavassi,2021-08-13 23:31:10+00:00,2937,142,diplomat,e,n,f,p
497395,enfp,manu gavassi,"Slow down, you‚Äôre doing fine ‚ù§Ô∏è",manugavassi,2020-09-30 04:33:31+00:00,13170,1225,diplomat,e,n,f,p

In [43]:


pd.to_pickle(tryagain,'tryagain.pkl')
display(tryagain)


pd.read_pickle('tryagain.pkl')

toplevelGrouplist=['type','domain','i|e','n|s','t|f','j|p']
for topGru in toplevelGrouplist:    
    types=tryagain.groupby([f'{topGru}','name'])    
    typekeys=types.groups.keys()
    for key in typekeys:
        df=types.get_group(key)
       
        # namegroup=df.groupby('name')
        # namekeys=namegroup.groups.keys()
        # for nm in namekeys:
        #     print(nm)
        #     celeb=namegroup.get_group(nm)

,type,name,content,handle,date,likeCount,retweetCount,domain,i|e,n|s,t|f,j|p
0,enfj,katy perry,if you wanna know why any human is they way th...,katyperry,2022-10-30 22:15:09+00:00,29840,4575,diplomat,e,n,f,j
1,enfj,katy perry,"wait, if it‚Äôs called a ‚Äúfeed‚Äù are we literally...",katyperry,2022-10-29 07:01:46+00:00,10502,881,diplomat,e,n,f,j
3,enfj,katy perry,heck I pour beer out of my tits (that‚Äôs a part...,katyperry,2022-10-27 19:07:44+00:00,3042,297,diplomat,e,n,f,j
4,enfj,katy perry,The show‚Äôs set list is a fun üé¢ through memory...,katyperry,2022-10-27 19:07:21+00:00,3654,336,diplomat,e,n,f,j
5,enfj,katy perry,Welcoming all my #flatearthers #spaceisfakers ...,katyperry,2022-10-27 19:05:27+00:00,20819,2318,diplomat,e,n,f,j
...,...,...,...,...,...,...,...,...,...,...,...,...
496999,esfp,juicy j,Block that devil out your ear this morning #s...,therealjuicyj,2022-03-17 15:04:10+00:00,511,148,explorer,e,s,f,p
497228,enfp,manu gavassi,Spaces?,manugavassi,2021-10-30 02:13:17+00:00,2126,91,diplomat,e,n,f,p
497240,enfp,manu gavassi,QUERO MORAR NESSE LOOK HELP. üòç #MPN2021 https:...,manugavassi,2021-09-28 22:29:07+00:00,4395,306,diplomat,e,n,f,p
497285,enfp,manu gavassi,.ebaselE,manugavassi,2021-08-13 23:31:10+00:00,2937,142,diplomat,e,n,f,p
497395,enfp,manu gavassi,"Slow down, you‚Äôre doing fine ‚ù§Ô∏è",manugavassi,2020-09-30 04:33:31+00:00,13170,1225,diplomat,e,n,f,p

In [44]:


def split_data(df):
    # create train and test (80/20 split) from the orginal dataframe
    train, test = train_test_split(df, test_size=0.2, random_state=123, stratify=df.type)
    # create train and validate (75/25 split) from the train dataframe
    train, val = train_test_split(train, test_size=.25, random_state=123, stratify=train.type)
    
    return train, val, test

In [45]:

def allthewaydownfunc(df):

    groups=['type', 'domain', 'i|e', 'n|s', 't|f', 'j|p']


    allthewaydict={'group':{},'subgroup':{},'name':{},'docs':{},'lemmatized docs':{},'tf-idf w.r.t name':{},'freq table w.r.t name':{},'handle':{},'date':{},'lang'	:{},'likeCount':{},'retweetCount':{}}
    # groups=(groups[2:4])
    count=0
    for g in groups:
        print(f'{g}\n')
        group=tryagain.groupby(g)
        keys=group.groups.keys()
        for key in keys:
            # print(key)
            kthgroup=group.get_group(key)
            namegru=kthgroup.groupby('name')
            subkeys=namegru.groups.keys()


            for sk in subkeys:
                curname=namegru.get_group(sk)        
                nm=curname.name.unique()[0]
                docs=curname.content.values
                # splitdocs=docs.split('')


                lemma=[stopfilter(i) for i in [lemmatizor(d) for d in docs]]
                lemma=[i.strip() for i in lemma if len(i)>=2]
                fulllist=" ".join(lemma).split()


                valcounts=pd.Series(fulllist).value_counts()
                freq=valcounts.values


                ##TF-IDF calc
                x=np.log10((len(lemma)/freq))
                x*=freq
                x=np.ndarray.round(x,3)
                tf_idf=(dict(zip((pd.Series(fulllist).value_counts().index),x)))
                freqtable=dict(valcounts)

                # df=idfDf(lemma);display(df)
                allthewaydict['group'].update({count:g})
                allthewaydict['subgroup'].update({count:key})
                allthewaydict['name'].update({count:nm})
                allthewaydict['docs'].update({count:list(docs)})
                allthewaydict['lemmatized docs'].update({count:list(lemma)})
                allthewaydict['tf-idf w.r.t name'].update({count:tf_idf})
                allthewaydict['freq table w.r.t name'].update({count:freqtable})
                allthewaydict['handle'].update({count:curname.handle.values[0]})
                allthewaydict['date'].update({count:curname.date.values})
              
                allthewaydict['likeCount'].update({count:curname.likeCount.values.sum()})
                allthewaydict['retweetCount'].update({count:curname.retweetCount.values.sum()})


                count+=1


    allthewaydown=pd.DataFrame(allthewaydict)


    return allthewaydown



def splitPrep(tryagain):
    train, val, test=split_data(tryagain)
    train=allthewaydownfunc(train)
    val=allthewaydownfunc(val)
    test=allthewaydownfunc(test)
    pd.to_pickle(train,'mvp_plus_1_train.pkl')
    pd.to_pickle(val,'mvp_plus_1_val.pkl')
    pd.to_pickle(test,'mvp_plus_1_test.pkl')
 

 
splitPrep(tryagain)

type

/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:32: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  valcounts=pd.Series(fulllist).value_counts()
/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:40: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tf_idf=(dict(zip((pd.Series(fulllist).value_counts().index),x)))

domain

/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:32: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  valcounts=pd.Series(fulllist).value_counts()
/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:40: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tf_idf=(dict(zip((pd.Series(fulllist).value_counts().index),x)))

i|e

/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:32: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  valcounts=pd.Series(fulllist).value_counts()
/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:40: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tf_idf=(dict(zip((pd.Series(fulllist).value_counts().index),x)))

n|s

/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:32: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  valcounts=pd.Series(fulllist).value_counts()
/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:40: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tf_idf=(dict(zip((pd.Series(fulllist).value_counts().index),x)))

t|f

/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:32: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  valcounts=pd.Series(fulllist).value_counts()
/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:40: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tf_idf=(dict(zip((pd.Series(fulllist).value_counts().index),x)))

j|p

/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:32: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  valcounts=pd.Series(fulllist).value_counts()
/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:40: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tf_idf=(dict(zip((pd.Series(fulllist).value_counts().index),x)))

type

/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:32: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  valcounts=pd.Series(fulllist).value_counts()
/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:40: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tf_idf=(dict(zip((pd.Series(fulllist).value_counts().index),x)))

domain

/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:32: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  valcounts=pd.Series(fulllist).value_counts()
/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:40: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tf_idf=(dict(zip((pd.Series(fulllist).value_counts().index),x)))

i|e

/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:32: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  valcounts=pd.Series(fulllist).value_counts()
/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:40: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tf_idf=(dict(zip((pd.Series(fulllist).value_counts().index),x)))

n|s

/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:32: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  valcounts=pd.Series(fulllist).value_counts()
/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:40: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tf_idf=(dict(zip((pd.Series(fulllist).value_counts().index),x)))

t|f

/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:32: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  valcounts=pd.Series(fulllist).value_counts()
/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:40: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tf_idf=(dict(zip((pd.Series(fulllist).value_counts().index),x)))

j|p

/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:32: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  valcounts=pd.Series(fulllist).value_counts()
/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:40: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tf_idf=(dict(zip((pd.Series(fulllist).value_counts().index),x)))

type

/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:32: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  valcounts=pd.Series(fulllist).value_counts()
/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:40: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tf_idf=(dict(zip((pd.Series(fulllist).value_counts().index),x)))

domain

/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:32: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  valcounts=pd.Series(fulllist).value_counts()
/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:40: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tf_idf=(dict(zip((pd.Series(fulllist).value_counts().index),x)))

i|e

/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:32: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  valcounts=pd.Series(fulllist).value_counts()
/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:40: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tf_idf=(dict(zip((pd.Series(fulllist).value_counts().index),x)))

n|s

/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:32: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  valcounts=pd.Series(fulllist).value_counts()
/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:40: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tf_idf=(dict(zip((pd.Series(fulllist).value_counts().index),x)))

t|f

/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:32: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  valcounts=pd.Series(fulllist).value_counts()
/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:40: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tf_idf=(dict(zip((pd.Series(fulllist).value_counts().index),x)))

j|p

/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:32: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  valcounts=pd.Series(fulllist).value_counts()
/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/3237891019.py:40: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tf_idf=(dict(zip((pd.Series(fulllist).value_counts().index),x)))

In [46]:

tryagain

,type,name,content,handle,date,likeCount,retweetCount,domain,i|e,n|s,t|f,j|p
0,enfj,katy perry,if you wanna know why any human is they way th...,katyperry,2022-10-30 22:15:09+00:00,29840,4575,diplomat,e,n,f,j
1,enfj,katy perry,"wait, if it‚Äôs called a ‚Äúfeed‚Äù are we literally...",katyperry,2022-10-29 07:01:46+00:00,10502,881,diplomat,e,n,f,j
3,enfj,katy perry,heck I pour beer out of my tits (that‚Äôs a part...,katyperry,2022-10-27 19:07:44+00:00,3042,297,diplomat,e,n,f,j
4,enfj,katy perry,The show‚Äôs set list is a fun üé¢ through memory...,katyperry,2022-10-27 19:07:21+00:00,3654,336,diplomat,e,n,f,j
5,enfj,katy perry,Welcoming all my #flatearthers #spaceisfakers ...,katyperry,2022-10-27 19:05:27+00:00,20819,2318,diplomat,e,n,f,j
...,...,...,...,...,...,...,...,...,...,...,...,...
496999,esfp,juicy j,Block that devil out your ear this morning #s...,therealjuicyj,2022-03-17 15:04:10+00:00,511,148,explorer,e,s,f,p
497228,enfp,manu gavassi,Spaces?,manugavassi,2021-10-30 02:13:17+00:00,2126,91,diplomat,e,n,f,p
497240,enfp,manu gavassi,QUERO MORAR NESSE LOOK HELP. üòç #MPN2021 https:...,manugavassi,2021-09-28 22:29:07+00:00,4395,306,diplomat,e,n,f,p
497285,enfp,manu gavassi,.ebaselE,manugavassi,2021-08-13 23:31:10+00:00,2937,142,diplomat,e,n,f,p
497395,enfp,manu gavassi,"Slow down, you‚Äôre doing fine ‚ù§Ô∏è",manugavassi,2020-09-30 04:33:31+00:00,13170,1225,diplomat,e,n,f,p

In [47]:
pd.to_pickle

<function pandas.io.pickle.to_pickle(obj: 'Any', filepath_or_buffer: 'FilePath | WriteBuffer[bytes]', compression: 'CompressionOptions' = 'infer', protocol: 'int' = 5, storage_options: 'StorageOptions' = None) -> 'None'>

In [48]:





# def calc_idf(word,**kwargs):
#         documents =kwargs['docs']
#         n_occurences = sum([1 for doc in documents if word in doc])
#         return len(documents) / n_occurences
		

   





# # Get a list of the unique words
# def idfDf(documents):
#     unique_words = pd.Series(','.join(documents).split()).unique()
#     kwargs={'docs':documents}
#     # put the unique words into a data frame
#     df=(pd.DataFrame(dict(word=unique_words))
#      # calculate the idf for each word
#      .assign(idf=lambda df: df.word.apply(calc_idf))
#      # sort the data for presentation purposes
#      .set_index('word')
#      .sort_values(by='idf', ascending=False))
#     return df








# groups=['type', 'domain', 'i|e', 'n|s', 't|f', 'j|p']
# allthewaydict={'group':{},'subgroup':{},'name':{},'docs':{},'lemmatized docs':{},'tf-idf w.r.t name':{},'freq table w.r.t name':{},'handle':{},'date':{},'lang'	:{},'likeCount':{},'retweetCount':{}}
# # groups=(groups[2:4])
# count=0
# g=groups[0]
# print(f'{g}\n')
# group=tryagain.groupby(g)
# keys=group.groups.keys()
# # for key in keys:
# key=list(keys)[0]
# # print(key)
# kthgroup=group.get_group(key)
# namegru=kthgroup.groupby('name')
# subkeys=namegru.groups.keys()
# # for sk in subkeys:
# #     count+=
# curname=namegru.get_group(list(subkeys)[4])
# display(curname)
# nm=curname.name.unique()[0]
# docs=curname.content.values
# # splitdocs=docs.split('')


# lemma=[stopfilter(i) for i in [lemmatizor(d) for d in docs]]
# lemma=[i.strip() for i in lemma if len(i)>=2]
# fulllist=" ".join(lemma).split()


# valcounts=pd.Series(fulllist).value_counts()
# freq=valcounts.values


# ##TF-IDF calc
# x=np.log10((len(lemma)/freq))
# x*=freq
# x=np.ndarray.round(x,3)
# tf_idf=(dict(zip((pd.Series(fulllist).value_counts().index),x)))
# freqtable=dict(valcounts)

# # df=idfDf(lemma);display(df)
# allthewaydict['group'].update({count:g})
# allthewaydict['subgroup'].update({count:key})
# allthewaydict['name'].update({count:nm})
# allthewaydict['docs'].update({count:docs})
# allthewaydict['lemmatized docs'].update({count:lemma})
# allthewaydict['tf-idf w.r.t name'].update({count:tf_idf})
# allthewaydict['freq table w.r.t name'].update({count:freqtable})

# allthewaydict['handle'].update({count:curname.handle.values[0]})
# allthewaydict['date'].update({count:curname.date.values})
# allthewaydict['lang'].update({count:curname.lang.values[0]})
# allthewaydict['likeCount'].update({count:curname.likeCount.values.sum()})
# allthewaydict['retweetCount'].update({count:curname.retweetCount.values.sum()})




# count+=1

# pd.DataFrame(allthewaydict)

# Prep is finished 






# Explore is below

In [49]:
tryagain

,type,name,content,handle,date,likeCount,retweetCount,domain,i|e,n|s,t|f,j|p
0,enfj,katy perry,if you wanna know why any human is they way th...,katyperry,2022-10-30 22:15:09+00:00,29840,4575,diplomat,e,n,f,j
1,enfj,katy perry,"wait, if it‚Äôs called a ‚Äúfeed‚Äù are we literally...",katyperry,2022-10-29 07:01:46+00:00,10502,881,diplomat,e,n,f,j
3,enfj,katy perry,heck I pour beer out of my tits (that‚Äôs a part...,katyperry,2022-10-27 19:07:44+00:00,3042,297,diplomat,e,n,f,j
4,enfj,katy perry,The show‚Äôs set list is a fun üé¢ through memory...,katyperry,2022-10-27 19:07:21+00:00,3654,336,diplomat,e,n,f,j
5,enfj,katy perry,Welcoming all my #flatearthers #spaceisfakers ...,katyperry,2022-10-27 19:05:27+00:00,20819,2318,diplomat,e,n,f,j
...,...,...,...,...,...,...,...,...,...,...,...,...
496999,esfp,juicy j,Block that devil out your ear this morning #s...,therealjuicyj,2022-03-17 15:04:10+00:00,511,148,explorer,e,s,f,p
497228,enfp,manu gavassi,Spaces?,manugavassi,2021-10-30 02:13:17+00:00,2126,91,diplomat,e,n,f,p
497240,enfp,manu gavassi,QUERO MORAR NESSE LOOK HELP. üòç #MPN2021 https:...,manugavassi,2021-09-28 22:29:07+00:00,4395,306,diplomat,e,n,f,p
497285,enfp,manu gavassi,.ebaselE,manugavassi,2021-08-13 23:31:10+00:00,2937,142,diplomat,e,n,f,p
497395,enfp,manu gavassi,"Slow down, you‚Äôre doing fine ‚ù§Ô∏è",manugavassi,2020-09-30 04:33:31+00:00,13170,1225,diplomat,e,n,f,p

In [50]:


tryagain=pd.read_pickle('mvp_plus_1_train.pkl')

tryagain.columns



# s = nltk.sentiment.SentimentIntensityAnalyzer()
# df['sentiment'] = df.lemmatized.apply(lambda doc: s.polarity_scores(doc)['compound'])
# df['message_length'] = df['lemmatized'].str.len()
# df['word_count'] = (df['lemmatized'].str.split(' ').apply(len))

Index(['group', 'subgroup', 'name', 'docs', 'lemmatized docs',
       'tf-idf w.r.t name', 'freq table w.r.t name', 'handle', 'date', 'lang',
       'likeCount', 'retweetCount'],
      dtype='object')

In [51]:
subgroupdict={
'subgroup':{}, 
'names':{}, 
'docs':{}, 
'lemmatized docs':{},
'handle':{}, 
'date':{}, 
'lang':{},
'likeCount':{},
'retweetCount':{},
'docs w.r.t subgroup':{}, 
'lemmatized docs w.r.t subgroup':{},
'freq table w.r.t subgroup':{},
}



count=0

groups=tryagain.groupby('group')
keys=groups.groups.keys()
for k in keys:
    cur=groups.get_group(k)
    curgroup=cur.groupby(['group','subgroup'])
    curkeys=curgroup.groups.keys()
    
    print('\n')
    print(k)
    print('\n')
    for c in curkeys:
        print('\n')
        print(c)
        print('\n')
        subcur=cur=curgroup.get_group(c)
        # display(subcur)
        subgroupdict['subgroup'].update({count:subcur['subgroup'].values[0]})
        subgroupdict['names'].update({count:subcur['name'].values})
        subgroupdict['docs'].update({count:subcur['docs'].values})
        subgroupdict['lemmatized docs'].update({count:subcur['lemmatized docs'].values})
        subgroupdict['handle'].update({count:subcur['handle'].values})
        subgroupdict['date'].update({count:subcur['date'].values})
        subgroupdict['lang'].update({count:subcur['lang'].unique()[0]})
        subgroupdict['likeCount'].update({count:sum(subcur['likeCount'].values)})
        subgroupdict['retweetCount'].update({count:sum(subcur['retweetCount'].values)})


        
        docslist= subcur['docs'].values
        lemmatized=[]
        [lemmatized.extend(i) for i in (subcur['lemmatized docs'].values)]

        ## lemmatized is now in sentenaces
        docs=[]
        [docs.extend(i) for i in docslist]
        # lemmatized=' '.join(lemmatized).split(',')
        valcounts=pd.Series(lemmatized).value_counts()
        
        lemmatized=' '.join(lemmatized)
        valcounts=pd.Series(lemmatized.split()).value_counts();print(valcounts)
        freq=valcounts.values





        subgroupdict['docs w.r.t subgroup'].update({count:docs})
        subgroupdict['lemmatized docs w.r.t subgroup'].update({count:lemmatized})
        subgroupdict['freq table w.r.t subgroup'].update({count:dict(valcounts)})

        count+=1












subgroupDf=pd.DataFrame(subgroupdict)

domain




('domain', 'analyst')


new         2083
love        1559
us          1305
today       1162
day         1157
            ...
nsx            1
supercar       1
realdeal       1
nothings       1
sorcerer       1
Length: 23089, dtype: int64


('domain', 'diplomat')


love       3190
thank      2803
new        2416
day        1903
bit        1838
           ...
brum          1
eventim       1
roid          1
hangers       1
schmidt       1
Length: 24698, dtype: int64


('domain', 'explorer')


love       4797
new        4675
thank      4094
happy      3121
day        2740
           ...
maggies       1
thong         1
byeeeee       1
papiace       1
liwvid        1
Length: 33204, dtype: int64


('domain', 'sentinel')


love        3095
thank       2709
new         2678
happy       2176
today       1920
            ...
fabusix        1
arathi         1
reflec         1
corrects       1
lunesss        1
Length: 23094, dtype: int64


i|e




('i|e', 'e')


love       8532
new        8054
thank      6756
happy      5325
today      5185
           ...
blunty        1
swamped       1
vue           1
schick        1
bello         1
Length: 48070, dtype: int64


('i|e', 'i')


love        4109
thank       3962
new         3798
happy       2588
bit         2481
            ...
pyine          1
vadivelu       1
theknot        1
attire         1
sorcerer       1
Length: 29607, dtype: int64


j|p




('j|p', 'j')


love        5581
new         4832
thank       4572
happy       3469
today       3357
            ...
pnd            1
fbgovo         1
sprucing       1
sprite         1
prfctbws       1
Length: 32601, dtype: int64


('j|p', 'p')


love       7060
new        7020
thank      6146
happy      4444
day        4323
           ...
kinnear       1
gogol         1
kirill        1
sylvest       1
bello         1
Length: 45929, dtype: int64


n|s




('n|s', 'n')


love        4749
new         4499
thank       3915
day         3060
us          2919
            ...
ignition       1
kirilmkd       1
fatgazbo       1
pavement       1
schmidt        1
Length: 35956, dtype: int64


('n|s', 's')


love        7892
new         7353
thank       6803
happy       5297
today       4589
            ...
sinu           1
volcanic       1
cites          1
stitched       1
liwvid         1
Length: 42977, dtype: int64


type




('type', 'enfj')


love        974
thank       861
new         698
god         578
today       556
           ...
sup           1
capacity      1
brasil        1
siberian      1
prfctbws      1
Length: 11136, dtype: int64


('type', 'enfp')


love       1306
thank      1128
new        1080
day         814
live        793
           ...
twofer        1
krakens       1
bennett       1
netto         1
schmidt       1
Length: 15456, dtype: int64


('type', 'entj')


live        676
new         564
love        555
vs          428
tonight     411
           ...
cheapest      1
ritz          1
sits          1
assad         1
aranburu      1
Length: 9151, dtype: int64


('type', 'entp')


new         954
love        629
us          586
thank       563
thanks      553
           ...
sword         1
thc           1
starving      1
silicone      1
shanah        1
Length: 16586, dtype: int64


('type', 'esfj')


love        1524
thank       1204
happy       1175
new         1171
day          914
            ...
weeps          1
diluting       1
booking        1
liter          1
kishan         1
Length: 14564, dtype: int64


('type', 'esfp')


love        1984
new         1923
thank       1672
happy       1227
today       1157
            ...
moosteph       1
finn           1
cristal        1
kofler         1
fleek          1
Length: 20367, dtype: int64


('type', 'estj')


new        638
today      579
check      501
great      491
love       489
          ...
ydkpwq       1
thxs         1
itzhak       1
okgrind      1
lunesss      1
Length: 8483, dtype: int64


('type', 'estp')


love        1071
new         1026
happy        734
day          641
thank        600
            ...
clever         1
realizes       1
arbs           1
srilanka       1
waddle         1
Length: 13649, dtype: int64


('type', 'infj')


love        679
bit         622
ly          605
thank       541
day         507
           ...
arshdeep      1
ucl           1
savings       1
bravest       1
lacking       1
Length: 8745, dtype: int64


('type', 'infp')


ly          505
bit         476
friends     356
dear        316
thank       273
           ...
forrest       1
gump          1
grimmest      1
emphasis      1
fitnesiz      1
Length: 6100, dtype: int64


('type', 'intj')


new         408
love        278
bit         255
ly          231
us          226
           ...
valley        1
gino          1
bartali       1
relating      1
finger        1
Length: 5969, dtype: int64


('type', 'intp')


us          165
new         157
world       153
gat         151
gatesnot    133
           ...
dreamy        1
wander        1
oculus        1
ragu          1
garb          1
Length: 6331, dtype: int64


('type', 'isfj')


thank      941
love       897
new        710
happy      594
day        478
          ...
mash         1
probum       1
scho         1
grindin      1
ignite       1
Length: 10497, dtype: int64


('type', 'isfp')


thank       1305
love        1271
new         1142
happy        698
today        640
            ...
triumphs       1
christ         1
christys       1
peso           1
liwvid         1
Length: 11913, dtype: int64


('type', 'istj')


great      192
love       185
thank      183
new        159
us         136
          ...
patriot      1
illness      1
unlike       1
lat          1
boostbx      1
Length: 4796, dtype: int64


('type', 'istp')


new         584
thank       517
love        471
happy       462
iiii        459
           ...
stresses      1
trivial       1
spirited      1
agnostic      1
yolanthe      1
Length: 10629, dtype: int64


t|f




('t|f', 'f')


love        8866
thank       7925
new         7362
happy       5401
day         5026
            ...
scanning       1
cbynovel       1
patsugui       1
lori           1
bello          1
Length: 44180, dtype: int64


('t|f', 't')


new         4490
love        3775
thank       2793
today       2739
happy       2512
            ...
caziew         1
mcgee          1
beeb           1
morrisey       1
sorcerer       1
Length: 34451, dtype: int64

In [52]:
subgrouplist=subgroupDf.subgroup.value_counts().index.tolist()
[print(i) for i in subgrouplist if len(i)==4]
subgroupDf

istp
istj
isfp
isfj
intp
intj
infp
infj
estp
estj
esfp
esfj
entp
entj
enfp
enfj

,subgroup,names,docs,lemmatized docs,handle,date,lang,likeCount,retweetCount,docs w.r.t subgroup,lemmatized docs w.r.t subgroup,freq table w.r.t subgroup
0,analyst,"[a.r.rahman, ab de villiers, al yankovic, andr...",[[Glad to launch #ThikattaThikattaKathalippom...,[[glad launch aneethi youtu jwalik film musica...,"[arrahman, ABdeVilliers17, alyankovic, Buenafu...","[[2022-10-31T12:33:14.000000000, 2022-10-29T14...",NaN,338501446,38455192,[Glad to launch #ThikattaThikattaKathalippom ...,glad launch aneethi youtu jwalik film musical ...,"{'new': 2083, 'love': 1559, 'us': 1305, 'today..."
1,diplomat,"[agnez mo, ahmet kural, alicia keys, angelica ...",[[@netflix This Messiah series thoooo üî•üî•üî•üî• (ca...,[[netflix messiah series thoooo cant stop watc...,"[agnezmo, AHMTKURAL, aliciakeys, angelicavale,...","[[2022-10-04T02:12:34.000000000, 2022-07-07T05...",NaN,546218964,92457260,[@netflix This Messiah series thoooo üî•üî•üî•üî• (can...,netflix messiah series thoooo cant stop watchi...,"{'love': 3190, 'thank': 2803, 'new': 2416, 'da..."
2,explorer,"[50cent, adam lambert, adam levine, ajay devgn...",[[Athens Greece same stadium where they did th...,[[athens greece stadium olympics many lol gian...,"[50cent, adamlambert, adamlevine, ajaydevgn, A...","[[2022-10-31T00:30:53.000000000, 2022-10-30T10...",NaN,850072105,98842116,[Athens Greece same stadium where they did the...,athens greece stadium olympics many lol giants...,"{'love': 4797, 'new': 4675, 'thank': 4094, 'ha..."
3,sentinel,"[adal ramones, adele, akshay kumar, alejandro ...","[[@reformaopinion @DrNetas SUBLIME üëèüèªüëèüèªüëèüèªüëèüèªüëèüèª,...","[[drnetas sublime, drnetas sublime, sorry, qtf...","[AdalRamones, Adele, akshaykumar, alexoficial,...","[[2020-06-19T19:27:39.000000000, 2020-06-19T19...",NaN,305813278,35556521,"[@reformaopinion @DrNetas SUBLIME üëèüèªüëèüèªüëèüèªüëèüèªüëèüèª, ...",drnetas sublime drnetas sublime sorry qtf recu...,"{'love': 3095, 'thank': 2709, 'new': 2678, 'ha..."
4,e,"[50cent, ab de villiers, adal ramones, adam la...",[[Athens Greece same stadium where they did th...,[[athens greece stadium olympics many lol gian...,"[50cent, ABdeVilliers17, AdalRamones, adamlamb...","[[2022-10-31T00:30:53.000000000, 2022-10-30T10...",NaN,1301054647,166768529,[Athens Greece same stadium where they did the...,athens greece stadium olympics many lol giants...,"{'love': 8532, 'new': 8054, 'thank': 6756, 'ha..."
5,i,"[a.r.rahman, ahmet kural, ajay devgn, akshay k...",[[Glad to launch #ThikattaThikattaKathalippom...,[[glad launch aneethi youtu jwalik film musica...,"[arrahman, AHMTKURAL, ajaydevgn, akshaykumar, ...","[[2022-10-31T12:33:14.000000000, 2022-10-29T14...",NaN,739551146,98542560,[Glad to launch #ThikattaThikattaKathalippom ...,glad launch aneethi youtu jwalik film musical ...,"{'love': 4109, 'thank': 3962, 'new': 3798, 'ha..."
6,j,"[adal ramones, adele, akshay kumar, alejandro ...","[[@reformaopinion @DrNetas SUBLIME üëèüèªüëèüèªüëèüèªüëèüèªüëèüèª,...","[[drnetas sublime, drnetas sublime, sorry, qtf...","[AdalRamones, Adele, akshaykumar, alexoficial,...","[[2020-06-19T19:27:39.000000000, 2020-06-19T19...",NaN,632887869,84979590,"[@reformaopinion @DrNetas SUBLIME üëèüèªüëèüèªüëèüèªüëèüèªüëèüèª, ...",drnetas sublime drnetas sublime sorry qtf recu...,"{'love': 5581, 'new': 4832, 'thank': 4572, 'ha..."
7,p,"[50cent, a.r.rahman, ab de villiers, adam lamb...",[[Athens Greece same stadium where they did th...,[[athens greece stadium olympics many lol gian...,"[50cent, arrahman, ABdeVilliers17, adamlambert...","[[2022-10-31T00:30:53.000000000, 2022-10-30T10...",NaN,1407717924,180331499,[Athens Greece same stadium where they did the...,athens greece stadium olympics many lol giants...,"{'love': 7060, 'new': 7020, 'thank': 6146, 'ha..."
8,n,"[a.r.rahman, ab de villiers, agnez mo, ahmet k...",[[Glad to launch #ThikattaThikattaKathalippom...,[[glad launch aneethi youtu jwalik film musica...,"[arrahman, ABdeVilliers17, agnezmo, AHMTKURAL,...","[[2022-10-31T12:33:14.000000000, 2022-10-29T14...",NaN,884720410,130912452,[Glad to launch #ThikattaThikattaKathalippom ...,glad launch aneethi youtu jwalik film musical ...,"{'love': 4749, 'new': 4499, 'thank': 3915, 'da..."
9,s,"[50cent, adal ramones, adam lambert, adam levi...",[[Athens Greece same stadium where they did th...,[[athens greece stadium olympics many lol gian...,"[50cent, AdalRamones, adamlambert, adamlevine,...","[[2022-10-31T00:30:53.000000000, 2022-10-30T10...",NaN,1155885383,134398637,[Athens Greece same stadium where they did the...,athens greece stadium olympics many lol giants...,"{'love': 7892, 'new': 7353, 'thank': 6803, 'ha..."
10,enfj,"[anggun official, ansel elgort, ashton irwin, ...",[[#EliHallo - Behind the scene photos of the m...,[[elihallo behind scene photos music video eli...,"[Anggun_Cipta, AnselElgort, Ashton5SOS, BSchwe...","[[2022-09-27T19:40:04.000000000, 2022-09-23T15...",NaN,99837793,17779984,[#EliHallo - Behind the scene photos of the mu...,elihallo behind scene photos music video eliha...,"{'love': 974, 'thank': 861, 'new': 698, 'god':..."
11,enfp,"[agnez mo, ayushmann khurrana, aziz ansari, br...",[[@netflix This Messiah series thoooo üî•üî•üî•üî• (ca...,[[netflix messiah series thoooo cant stop watc...,"[agnezmo, ayushmannk, azizansari, brookeburke,...","[[2022-10-04T02:12:34.000000000, 2022-07-07T05...",NaN,372188286,59229712,[@netflix This Messiah series thoooo üî•üî•üî•üî• (can...,netflix messiah series thoooo cant stop watchi...,"{'love': 1306, 'thank': 1128, 'new': 1080, 'da..."
12,entj,"[busta rhymes, chris paul, dana white, dr. dre...",[[#SLAP BY THE üêâ ft. @WHOISCONWAY &amp; @bigda...,"[[slap ft listen gt linktr ee, slap taken stre...","[BustaRhymes, CP3, danawhite, drdre, LizGillie...","[[2022-10-31T14:56:45.000000000, 2022-10-28T17...",NaN,78219610,10582136,[#SLAP BY THE üêâ ft. @WHOISCONWAY &amp; @bigdad...,slap ft listen gt linktr ee slap taken streets...,"{'live': 676, 'new': 564, 'love': 555, 'vs': 4..."
13,entp,"[ab de villiers, al yankovic, andreu buenafuen...","[[Dewald Brevis. No need to say more, Back on!...","[[dewald brevis need, back bicycle session don...","[ABdeVilliers17, alyankovic, Buenafuente, Anna...","[[2022-10-31T13:36:16.000000000, 2022-10-30T13...",NaN,155514681,17789200,"[Dewald Brevis. No need to say more, Back on! ...",dewald brevis need back bicycle session done j...,"{'new': 954, 'love': 629, 'us': 586, 'thank': ..."
14,esfj,"[adal ramones, alejandro fernandez, aline barr...","[[@reformaopinion @DrNetas SUBLIME üëèüèªüëèüèªüëèüèªüëèüèªüëèüèª,...","[[drnetas sublime, drnetas sublime, sorry, qtf...","[AdalRamones, alexoficial, alinebarros, ahickm...","[[2020-06-19T19:27:39.000000000, 2020-06-19T19...",NaN,159203758,17428252,"[@reformaopinion @DrNetas SUBLIME üëèüèªüëèüèªüëèüèªüëèüèªüëèüèª, ...",drnetas sublime drnetas sublime sorry qtf recu...,"{'love': 1524, 'thank': 1204, 'happy': 1175, '..."
15,esfp,"[adam lambert, adam levine, akon, alyssa milan...",[[Starting in a few minutes!! @veeps\n\nGet yo...,"[[starting minutes veeps tickets quick veeps, ...","[adamlambert, adamlevine, Akon, Alyssa_Milano,...","[[2022-10-31T02:49:14.000000000, 2022-10-30T19...",NaN,308686216,29566575,[Starting in a few minutes!! @veeps\n\nGet you...,starting minutes veeps tickets quick veeps ton...,"{'love': 1984, 'new': 1923, 'thank': 1672, 'ha..."
16,estj,"[adele, cyprien, dr. mehmet oz, flo rida, giov...",[[Thank you Joe Talbot for creating a world fo...,[[thank joe talbot creating world putting bunc...,"[Adele, MonsieurDream, DrOz, official_flo, gio...","[[2022-10-26T20:59:05.000000000, 2022-10-26T20...",NaN,19586610,2654764,[Thank you Joe Talbot for creating a world for...,thank joe talbot creating world putting bunch ...,"{'new': 638, 'today': 579, 'check': 501, 'grea..."
17,estp,"[50cent, ashley benson, bipasha basu, birdman,...",[[Athens Greece same stadium where they did th...,[[athens greece stadium olympics many lol gian...,"[50cent, AshBenzo, bipsluvurself, BIRDMAN5STAR...","[[2022-10-31T00:30:53.000000000, 2022-10-30T10...",NaN,107817693,11737906,[Athens Greece same stadium where they did the...,athens greece stadium olympics many lol giants...,"{'love': 1071, 'new': 1026, 'happy': 734, 'day..."
18,infj,"[angelica vale, arjun rampal, bridgit mendler,...",[[¬°Feliz tarde! ¬øComo va su d√≠a? ¬°Espero espec...,[[feliz tarde va dia espero happy day going ho...,"[angelicavale, rampalarjun, bridgitmendler, ch...","[[2022-10-27T23:35:42.000000000, 2022-10-16T11...",NaN,52800843,11759702,[¬°Feliz tarde! ¬øComo va su d√≠a? ¬°Espero espect...,feliz tarde va dia espero happy day going hope...,"{'love': 679, 'bit': 622, 'ly': 605, 'thank': ..."
19,infp,"[ahmet kural, alicia keys, calum hood, david l...","[[Fitnesiz, No fitne ü•ä @konuralpkocoglu #thesh...","[[fitnesiz fitne crossfit suadiye, posted phot...","[AHMTKURAL, aliciakeys, Calum5SOS, DAVID_LYNCH...","[[2018-08-01T11:29:09.000000000, 2017-01-01T10...",NaN,21392042,3687862,"[Fitnesiz, No fitne ü•ä @konuralpkocoglu #thesho...",fitnesiz fitne crossfit suadiye posted photo b...,"{'ly': 505, 'bit': 476, 'friends': 356, 'dear'..."
20,intj,"[elon musk, g-dragon, hardwell, jerry seinfeld...",[[@JennaEllisEsq @RealMarkFinchem Looking into...,"[[looking, evafoxu, sep diageo news bjankow ki...","[elonmusk, IBGDRGN, HARDWELL, JerrySeinfeld, l...","[[2022-10-31T22:55:11.000000000, 2022-10-31T22...",NaN,96216345,9301247,[@JennaEllisEsq @RealMarkFinchem Looking into ...,looking evafoxu sep diageo news bjankow kieley...,"{'new': 408, 'love': 278, 'bit': 255, 'ly': 23..."
21,intp,"[a.r.rahman, bill gates, felipe andreoli, gary...",[[Glad to launch #ThikattaThikattaKathalippom...,[[glad launch aneethi youtu jwalik film musica...,"[arrahman, BillGates, andreolifelipe, GNev2, i...","[[2022-10-31T12:33:14.000000000, 2022-10-29T14...",NaN,8550810,782609,[Glad to launch #ThikattaThikattaKathalippom ...,glad launch aneethi youtu jwalik film musical ...,"{'us': 165, 'new': 157, 'world': 153, 'gat': 1..."
22,isfj,"[aluna sagita gutawa, anderson cooper, carrie ...",[[Now availble on my Youtube channel: Gita Gut...,[[availble youtube channel gita gutawa officia...,"[gitagut, andersoncooper, carrieunderwood, dee...","[[2018-08-03T09:49:08.000000000, 2018-08-01T08...",NaN,106161637,13256213,[Now availble on my Youtube channel: Gita Guta...,availble youtube channel gita gutawa official ...,"{'thank': 941, 'love': 897, 'new': 710, 'happy..."
23,isfp,"[alejandro sanz, aleks syntek, ashlee simpson ...","[[Long live freedom üá∫üá∏ #Happy4thofJuly, I Told...","[[long live freedom, told, long live freedom, ...","[AlejandroSanz, syntekoficial, ashleesimpson, ...","[[2022-07-04T13:13:49.000000000, 2022-06-25T23...",NaN,318333195,44173539,"[Long live freedom üá∫üá∏ #Happy4thofJuly, I Told ...",long live freedom told long live freedom told ...,"{'thank': 1305, 'love': 1271, 'new': 1142, 'ha..."
24,istj,"[akshay kumar, amitabh bachchan, boa, caitlyn ...",[[Thank you for celebrating your Diwali with u...,[[thank diwali us akshay kumar kudo coming hum...,"[akshaykumar, SrBachchan, BoAkwon, Caitlyn_Jen...","[[2022-10-26T15:09:23.000000000, 2022-10-24T09...",NaN,20861273,2217292,[Thank you for celebrating your Diwali with us...,thank diwali us akshay kumar kudo coming humbl...,"{'great': 192, 'love': 185, 'thank': 183, 'new..."
25,istp,"[ajay devgn, amr waked, andy murray, ashton ku...",[[Share the warmth of togetherness &amp; famil...,[[share warmth family fun pan indian rockstar ...,"[ajaydevgn, amrwaked, andy_murray, aplusk, Big...","[[2022-10-30T06:26:04.000000000, 2022-10-29T05...",NaN,115235001,13364096,[Share the warmth of togetherness &amp; family...,share warmth family fun pan indian rockstar ds...,"{'new': 584, 'thank': 517, 'love': 471, 'happy..."
26,f,"[adal ramones, adam lambert, adam levine, agne...","[[@reformaopinion @DrNetas SUBLIME üëèüèªüëèüèªüëèüèªüëèüèªüëèüèª,...","[[drnetas sublime, drnetas sublime, sorry, qtf...","[AdalRamones, adamlambert, adamlevine, agnezmo...","[[2020-06-19T19:27:39.000000000, 2020-06-19T19...",NaN,1438603770,196881839,"[@reformaopinion @DrNetas SUBLIME üëèüèªüëèüèªüëèüèªüëèüèªüëèüèª, ...",drnetas sublime drnetas sublime sorry qtf recu...,"{'love': 8866, 'thank': 7925, 'new': 7362, 'ha..."
27,t,"[50cent, a.r.rahman, ab de villiers, adele, aj...",[[Athens Greece same stadium where they did th...,[[athens greece stadium olympics many lol gian...,"[50cent, arrahman, ABdeVilliers17, Adele, ajay...","[[2022-10-31T00:30:53.000000000, 2022-10-30T10...",NaN,602002023,68429250,[Athens Greece same stadium where they did the...,athens greece stadium olympics many lol giants...,"{'new': 4490, 'love': 3775, 'thank': 2793, 'to..."

Test for the big prep loop

In [53]:
num=0
bigdict={'type':{},'name':{},'stoped_lemma':{},'freq':{}}
for i in list(indexbyperson.keys()):
    a=indexbyperson.get(i)
    a=a['name']
    for i1 in list(a.keys()):
        listtonormaliz=str(a[i1]['content'])
        newtext=lemmatizor(listtonormaliz,regexfilter=r'[^a-z0-9\'\s]')
        lemma=newtext
       
        stoped=stopfilter(lemma)
        stoped=stoped.replace('https','').replace('com','').replace('co','').replace(',','').strip()
       
        a[i1].update({'stopped_lemma':stoped})         
     
        cool=dict(pd.Series(stoped.split()).value_counts())
        a[i1].update({'word freq':cool})
        bigdict['type'].update({num:i})
        bigdict['stoped_lemma'].update({num:stoped})
        bigdict['freq'].update({num:cool})
        bigdict['name'].update({num:i1})
        num+=1

/var/folders/tc/rqcbqynd6g96v17vbqppznm40000gn/T/ipykernel_36585/4115732160.py:16: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  cool=dict(pd.Series(stoped.split()).value_counts())

In [54]:
twitterwordslemma=pd.DataFrame(bigdict)
twitterwordslemma.columns=['type','name','lemmatized','freq']
twitterwordslemma

,type,name,lemmatized,freq
0,ISTJ,amitabh bachchan,unique film dostojee young bengali director pr...,"{'film': 24, 'n': 24, 'love': 23, 'legend': 17..."
1,ISTJ,akshay kumar,thank diwali us akshay kumar kudo ing humbling...,"{'n': 84, 'ramsetu': 55, 'thank': 42, 'love': ..."
2,ISTJ,elissa,riyadh never ceize amaze energy love ing back ...,"{'love': 53, 'thank': 21, 'morning': 20, 'nigh..."
3,ISTJ,lord sugar,needs firing let sugar nator point wave firing...,"{'firing': 46, 'hospital': 46, 'ormond': 45, '..."
4,ISTJ,gary barlow,happy folks thanks gang ready todays audience ...,"{'show': 56, 'thank': 44, 'week': 42, 'night':..."
...,...,...,...,...
585,INTP,felipe andreoli,arnold ndouble craques arnold ndouble craques ...,"{'arnold': 2, 'great': 2, 'ndouble': 2, 'usope..."
586,INTP,gary neville,minister sky news talking breaking model theyv...,"{'us': 58, 'watch': 44, 'essexpr': 40, 'overla..."
587,INTP,markus persson,entropy enough state cnot eigenbom irc happen ...,"{'bit': 46, 'got': 38, 'game': 37, 'sure': 35,..."
588,INTP,james may,reverse plumbing use bag able suck debris add ...,"{'yes': 27, 'book': 19, 'new': 13, 'thanks': 1..."
589,INTP,troian,posted photo angeles posted photo us sure sena...,"{'photo': 63, 'posted': 57, 'thank': 38, 'supp..."

In [55]:
twitterwordslemma['type']=twitterwordslemma.type.str.lower()

pd.to_pickle(twitterwordslemma,'maindalemma.pkl')

df=pd.read_pickle('maindalemma.pkl')
df=df[[	'type',	'name',	'lemmatized'	]]
df

     type              name                                         lemmatized
0    istj  amitabh bachchan  unique film dostojee young bengali director pr...
1    istj      akshay kumar  thank diwali us akshay kumar kudo ing humbling...
2    istj            elissa  riyadh never ceize amaze energy love ing back ...
3    istj        lord sugar  needs firing let sugar nator point wave firing...
4    istj       gary barlow  happy folks thanks gang ready todays audience ...
..    ...               ...                                                ...
585  intp   felipe andreoli  arnold ndouble craques arnold ndouble craques ...
586  intp      gary neville  minister sky news talking breaking model theyv...
587  intp    markus persson  entropy enough state cnot eigenbom irc happen ...
588  intp         james may  reverse plumbing use bag able suck debris add ...
589  intp            troian  posted photo angeles posted photo us sure sena...

[590 rows x 3 columns]

# The remaing is explore

In [56]:
twitterwordslemma=pd.read_pickle('maindalemma.pkl')
twitterwordslemma

,type,name,lemmatized,freq
0,istj,amitabh bachchan,unique film dostojee young bengali director pr...,"{'film': 24, 'n': 24, 'love': 23, 'legend': 17..."
1,istj,akshay kumar,thank diwali us akshay kumar kudo ing humbling...,"{'n': 84, 'ramsetu': 55, 'thank': 42, 'love': ..."
2,istj,elissa,riyadh never ceize amaze energy love ing back ...,"{'love': 53, 'thank': 21, 'morning': 20, 'nigh..."
3,istj,lord sugar,needs firing let sugar nator point wave firing...,"{'firing': 46, 'hospital': 46, 'ormond': 45, '..."
4,istj,gary barlow,happy folks thanks gang ready todays audience ...,"{'show': 56, 'thank': 44, 'week': 42, 'night':..."
...,...,...,...,...
585,intp,felipe andreoli,arnold ndouble craques arnold ndouble craques ...,"{'arnold': 2, 'great': 2, 'ndouble': 2, 'usope..."
586,intp,gary neville,minister sky news talking breaking model theyv...,"{'us': 58, 'watch': 44, 'essexpr': 40, 'overla..."
587,intp,markus persson,entropy enough state cnot eigenbom irc happen ...,"{'bit': 46, 'got': 38, 'game': 37, 'sure': 35,..."
588,intp,james may,reverse plumbing use bag able suck debris add ...,"{'yes': 27, 'book': 19, 'new': 13, 'thanks': 1..."
589,intp,troian,posted photo angeles posted photo us sure sena...,"{'photo': 63, 'posted': 57, 'thank': 38, 'supp..."

In [57]:
num=0
bigdict_type={'type':{},'stoped_lemma':{},'freq':{}}

group1=twitterwordslemma[['stoped_lemma','type']].groupby('type')
group1.groups.keys()
for i in group1.groups.keys():
    
    x=(','.join(list(group1.get_group(i).stoped_lemma.values)).strip())
  
    x=stopfilter(x)
    
   
    y=(pd.Series(x.replace(',',' ').strip().split()).value_counts())
    cool=dict(y)
    bigdict_type['type'].update({num:i})
    bigdict_type['stoped_lemma'].update({num:x})
    bigdict_type['freq'].update({num:cool})
       

    num+=1

KeyError: "['stoped_lemma'] not in index"

In [ ]:

typeslemma=pd.DataFrame(bigdict_type)
x=str(typeslemma.stoped_lemma.values).replace(',',' ').replace('[','').replace(']','').replace('"','').replace("'",'').replace(',',' ').split()
y=dict(pd.Series(x).value_counts())
aggregatewordfrreq=y
# pd.to_pickle(aggregatewordfrreq,'agglemma.pkl')
num=len(typeslemma)


z=[i.replace(',',' ') for i in typeslemma.stoped_lemma.values]
typeslemma=pd.concat([typeslemma,pd.DataFrame({'type':{num:'COMBINED'},'stoped_lemma':{num:str(z).replace(',',' ').replace('[','').replace(']','').replace('"','').replace("'",'')},'freq':{num:aggregatewordfrreq}})])
pd.to_pickle(typeslemma,'typeslemma.pkl')

In [ ]:

typeslemma=pd.read_pickle('typeslemma.pkl')

In [ ]:

extroverteddf=typeslemma[['type','stoped_lemma']].iloc[0:7]
extroverteddf

In [ ]:

introverteddf=typeslemma[['type','stoped_lemma']].iloc[8:15]

In [ ]:
freqdict=dict(typeslemma.freq.values[-1])
#set stuff
setlist=[]
for i in typeslemma.freq.values:
    setlist.append(set(i.keys()))

typelist=[]
for i in typeslemma.type.values:
    typelist.append(i)

typessetdict=dict(zip(typelist,setlist))

In [ ]:

keys=list(typessetdict.keys())
combined=keys.pop(-1);combined
intersectiondict={}
c=set(typessetdict.get(combined))
keys.reverse()

In [ ]:
# wordcloud_kwargs=dict(max_font_size=10000, min_font_size=.5)

for i,k in enumerate(keys):
    keyscopy=deepcopy(keys)
    kthset=set(typessetdict.get(k))
    int=c&kthset
    intersectiondict.update({k:int,'intersection count':len(int)})
    kfreq=freqdict.get(k)
   
    keyscopy.pop(i)
    unionwithoutk=set()
    fig,ax=plt.subplots(figsize=(25,25))
    
    [unionwithoutk.update(typessetdict.get(cop))for cop in keyscopy]
    print(f'{"_":>2}'*45,f'\n\n{k:>60}\n\n',f'{"_":>2}'*45,f'\n\nintersection length:\n{len(int)}',f'\nintersection combined percent:\n{(len(int)/len(c))*100:.2f}%')

   

    print(f'number unique to \n{len(kthset-unionwithoutk)}\n',f'percent unique of aggregate union combined:\n{((len(kthset-unionwithoutk))/len(c))*100:.2f}%')
    restint=kthset&unionwithoutk
    print(f'intersection with rest length:\n{len(restint)}',f'\nintersection with rest percent overlap with combined:\n{(len(restint)/len(c))*100:.2f}%\n\n')
    
    venn3_wordcloud([kthset,unionwithoutk,kthset-unionwithoutk], set_colors=['lime','c','w'],set_edgecolors=['0', '0','0'],ax=ax,set_labels=[f'{k}',f'Union w/o {k}',f'Unique {k}'],word_to_frequency=freqdict)#
    plt.show()

In [ ]:

# wordcloud_kwargs=dict(max_font_size=10000, min_font_size=.5)

for i,k in enumerate(keys):
    keyscopy=deepcopy(keys)
    kthset=set(typessetdict.get(k))
    int=c&kthset
    intersectiondict.update({k:int,'intersection count':len(int)})
    kfreq=freqdict.get(k)
   
    keyscopy.pop(i)
    unionwithoutk=set()
    fig,ax=plt.subplots(figsize=(25,25))
    
    [unionwithoutk.update(typessetdict.get(cop))for cop in keyscopy]
    print(f'{"_":>2}'*45,f'\n\n{k:>60}\n\n',f'{"_":>2}'*45,f'\n\nintersection length:\n{len(int)}',f'\nintersection combined percent:\n{(len(int)/len(c))*100:.2f}%')

   

    print(f'number unique to \n{len(kthset-unionwithoutk)}\n',f'percent unique of aggregate union combined:\n{((len(kthset-unionwithoutk))/len(c))*100:.2f}%')
    restint=kthset&unionwithoutk
    print(f'intersection with rest length:\n{len(restint)}',f'\nintersection with rest percent overlap with combined:\n{(len(restint)/len(c))*100:.2f}%\n\n')
    
    venn3_wordcloud([kthset,unionwithoutk,kthset-unionwithoutk], set_colors=['red','c','w'],set_edgecolors=['0', '0','0'],ax=ax,set_labels=[f'{k}',f'Union w/o {k}',f'Unique {k}'],word_to_frequency=freqdict)#
    plt.show()

In [ ]:
bigint=deepcopy(c)
[bigint.intersection_update(typessetdict.get(key))for key in keys]
print(f'We have a total of {len(bigint)} in the aggregate intersection\nWe remove that intersection to compare')
for i,k in enumerate(keys):
    keyscopy=deepcopy(keys)
    kthset=set(typessetdict.get(k))
    kthset=kthset-bigint
    int=(c&kthset)-bigint
    intersectiondict.update({k:int,'intersection count':len(int)})
    kfreq=freqdict.get(k)
   
    keyscopy.pop(i)
    unionwithoutk=set()
    fig,ax=plt.subplots(figsize=(25,25))
    
    [unionwithoutk.update(typessetdict.get(cop))for cop in keyscopy]
    unionwithoutk=unionwithoutk-bigint
    print(f'{"_":>2}'*45,f'\n\n{k:>60}\n\n',f'{"_":>2}'*45,f'\n\nintersection length:\n{len(int)}',f'\nintersection combined percent:\n{(len(int)/len(c))*100:.2f}%')

    unique=(kthset-unionwithoutk)-bigint

    print(f'number unique to {k}\n{len(unique)}\n',f'percent unique of aggregate union combined:\n{(len(unique)/len(c))*100:.2f}%')
    restint=(kthset&unionwithoutk)-bigint
    print(f'intersection with rest length:\n{len(restint)}',f'\nintersection with rest percent overlap with combined:\n{(len(restint)/len(c))*100:.2f}%\n\n')
    
    venn3_wordcloud([kthset,unionwithoutk,kthset-unionwithoutk], set_colors=['lime','.35','w'],set_edgecolors=['0', '0','0'],ax=ax,set_labels=[f'{k}',f'Union w/o {k}',f'Unique {k}'],word_to_frequency=freqdict)#
    plt.show()

In [ ]:


# from itertools import product 
  
# # Get all permutations of length 2 
# # and length 2 
# x=["".join(seq) for seq in product("01", repeat=4)]
# for i in x:
#     print(i[0])

In [ ]:
sumforavg=dataframe[['type','name']].groupby(['type']).nunique().sum()
tochart=(dataframe[['type','name']].groupby(['type']).nunique()/sumforavg)*100

tochart=tochart.reset_index()
tochart['percent']=tochart['name']

tochart.drop(columns='name',inplace=True)




tochart.index=tochart.type
tochart.drop(columns='type',inplace=True)
tochart=tochart.sort_values(by='percent',ascending=False)



genpoppercent=['13.8% 12.3% 11.6% 8.8% 8.7% 8.5% 8.1% 5.4% 4.4% 4.3% 3.3% 3.2% 2.5% 2.1% 1.8% 1.5%']
genpoppercent=str(genpoppercent).replace('%','').split()
genpoppercent=[float(i.replace('[','').replace(']','').replace('"','').strip("'")) for i in genpoppercent]


types=['ISFJ ESFI ISTJ ISFP ESTI ESFP ENFP ISTP INFP ESTP INTP ENTP ENFJ INTJ ENTI INFT']
types=str(types).split()


types=[(i.replace('[','').replace(']','').replace('"','').strip("'")) for i in types]

pop=pd.DataFrame(index=types,data={'pop percentage':genpoppercent})

tochart=pd.concat([tochart,pop],axis=1,join='inner')
tochart.rename(columns={'percent':'found percent'},inplace=True)
cols=['pop percentage','found percent']
tochart=tochart[cols]
tochart.sort_values(by='pop percentage',ascending=False,inplace=True)

In [ ]:
# 
styleddf=tochart.T.style.background_gradient(cmap='Blues',axis=1).format(lambda x : f'{x:.1f}%')

In [ ]:
quad1=[0,0,0,0]
quad2=[0,0,0,0]
quad3=[0,.25,.35,.25]
quad4=[.35,.25,.35,.25]

explode = []
explode.extend(quad1)
explode.extend(quad2)
explode.extend(quad3)
explode.extend(quad4)

In [ ]:
import matplotlib.pyplot as plt
from matplotlib.gridspec import GridSpec


def format_axes(fig):
    for i, ax in enumerate(fig.axes):
        ax.text(0.5, 0.5, "ax%d" % (i+1), va="center", ha="center")
        ax.tick_params(labelbottom=False, labelleft=False)
m=1.23
fig = plt.figure(constrained_layout=False,figsize=(m*20,m*12.361))

gs = GridSpec(2, 2, figure=fig)

# identical to ax1 = plt.subplot(gs.new_subplotspec((0, 0), colspan=3))



plt.suptitle('MBTI: General Population Vs Twitter',fontsize=16,weight='demibold')





ax1 = fig.add_subplot(gs[0, 0])
kwargs1={'title':'General Population (Pie)   ','ax':ax1,'legend':False,'ylabel':'',   'cmap':'Blues'}

tochart.plot.pie(y='found percent',**kwargs1)



ax2 = fig.add_subplot(gs[1, 1])

kwargs2={'title':'  Twitter (Pie)   ','ax':ax2,'legend':False,'ylabel':'',   'cmap':'viridis'}
tochart.plot.pie(y='pop percentage',**kwargs2)


ax3 = fig.add_subplot(gs[0,1])
kwargs3={'ax':ax3,'legend':False,'title':'Twitter (Bar)',   'cmap':'viridis'}

tochart.plot.barh(y='found percent',**kwargs3)




ax4 = fig.add_subplot(gs[1, 0])
kwargs4={'ax':ax4,'legend':False,'title':'General Population (Bar)',   'cmap':'Blues'}
tochart.plot.barh(y='pop percentage',**kwargs4)

plt.show()




fig.suptitle("GridSpec")
format_axes(fig)

plt.show()




display('Summary',styleddf)

# Everything Below was an attempt at Multithreading and Paralellism
* ## This can be ignored

In [ ]:






# Below are two ways of scraping using CLI commands.
# Comment or uncomment as you need. If you currently run the script as is it will scrape both queries
# then output two different csv files.

# Query by username
# Setting variables to be used in format string command below
# def parralledindexer():
#  #tweet count number is the last n tweets
#  # #read in top 1,000 celebs
#     url='https://gist.githubusercontent.com/mbejda/9c3353780270e7298763/raw/1bfc4810db4240d85947e6aef85fcae71f475493/Top-1000-Celebrity-Twitter-Accounts.csv'
#     tweet_count=100

#     celebs=pd.read_csv(url).to_dict()
#     count=-1*tweet_count
#     celeblen=len(list(celebs.get('twitter').keys()))
#     numindex=range(0,tweet_count*celeblen)

#     c_with_slice={}
#     for c in range(0,celeblen,1):  
#             count=count+tweet_count
#             maxnum=count+tweet_count     
#             cur=numindex[count:maxnum]
#             c_with_slice.update({c:cur})
           

    # mod10={}
    # mod9={}
    # mod8={}
    # mod7={}
    # mod6={}
    # mod5={}
    # mod4={}
    # mod3={}
    # mod2={}
    # keylist=list(c_with_slice.keys())
    # for i in keylist:
    #     if i%10==0:  
    #         mod10.update({i:c_with_slice.get(i)})
    #     elif i%9==0:      
    #         mod9.update({i:c_with_slice.get(i)})
    #     elif i%8==0:       
    #         mod8.update({i:c_with_slice.get(i)})
    #     elif i%7==0:      
    #         mod7.update({i:c_with_slice.get(i)})
    #     elif i%6==0:      
    #         mod6.update({i:c_with_slice.get(i)})
    #     elif i%5==0:      
    #         mod5.update({i:c_with_slice.get(i)})
    #     elif i%4==0:       
    #         mod4.update({i:c_with_slice.get(i)})
    #     elif i%3==0:      
    #         mod3.update({i:c_with_slice.get(i)})
    #     elif i%2==0:     
    #         mod2.update({i:c_with_slice.get(i)})
#     moddicts=c_with_slice
        

#     # moddicts={**mod10,**mod9,
#     # **mod8,
#     # **mod7,
#     # **mod6,
#     # **mod5,
#     # **mod4,
#     # **mod3,
#     # **mod2}
#     return moddicts,celebs

# moddicts,celebs=parralledindexer()

# ###Think of schem to split then pu

In [ ]:


# def actualparrelel():
#     '''
    
#     slow as shit for input output this is for data processing on the comp
    
    
#     '''
#     moddicts,celebs=parralledindexer()
#     values=[]
    
    
#     # protect the entry point
#     if __name__ == '__main__':
#         # create and configure the process pool
#         with Pool(10) as pool:
#             arglist=[]   
#             for m in moddicts:
#                 arglist.append((m,celebs)) 


           
#             results_async=pool.starmap_async(partitionableTwitterscraper,arglist)
#             # get the return values
#             try:
#                 for value in results_async.get():
#                     values.append(value)

#             except Exception as e:
#                 print(f'Failed with: {e}')
#     return values






# def actualthreading():
#     moddicts,celebs=parralledindexer()
#     values=[]
    
    
#     # protect the entry point
#     if __name__ == '__main__':
#         # create and configure the process pool
  
#             arglist=[]   
#             for m,v in moddicts.items():
#                 arglist.append({m:v})
#             # print(arglist) #this is fine    

#     # We can use a with statement to ensure threads are cleaned up promptly

#     threads = min(50, len(moddicts))   
#     with concurrent.futures.ThreadPoolExecutor(max_workers=threads) as executor:
#         # Start the load operations and mark each future with its URL
#         data=[]
           

#         for arg in arglist:
#             for res in executor.submit(partitionableTwitterscraper(arg)):
#                 executor.shutdown(wait=True)
    
#                 try:
#                     data.append((res))
#                     # print(res[0])
#                     # print(res[1])



#                 except Exception as exc:
#                     pass
#                 #  print('%r generated an exception: %s' % (result, exc))
#         # else:
#         #     # print('%r page is %d bytes' % (result, len(data)))
    
#     #sets the number of threads to the lesser of 30 or length of urls
#     return data

In [ ]:
# import multiprocessing
  
# # empty list with global scope
# result = []
# # empty list with global scope

# def square_list(mylist):
#     """
#     function to square a given list
#     """
#     global result
#     # append squares of mylist to global list result
#     for num in mylist:
#         result.append(num * num)


# def partitionableTwitterscraper(c_with_slice):
#     moddicts,celebs=parralledindexer()
#     c_with_slice=c_with_slice
#     # print(c_with_slice)
#     tweet_count =100 
#     dictcount=0
#     dfdict={}
#     errornames=[]


    
#     print(c_with_slice.keys()) 
#     print('\n') 
#     c=list(c_with_slice.keys())[0]




#     twitter_handle=celebs.get('twitter')
#     name=celebs.get('name')
#     cur=c_with_slice.get(c)  
#     #create Series to append the current handle to the dataframe
#     handleseries={i:twitter_handle for i in cur}       
#     #create Series to append the current name to dataframe   
#     nameseries={i:name for i in cur}
    

    
#     try:
#         # Using OS library to call CLI commands in Python
#         os.system("snscrape --jsonl --max-results {} twitter-search 'from:{}'> user-tweets.json".format(tweet_count, twitter_handle))

#          # Reads the json generated from the CLI command above and creates a pandas dataframe
#          #if there is an error then it will just move to the next artist i.e. failsafe 
#         tweets_df1 = pd.read_json('user-tweets.json', lines=True).set_index(keys=pd.Index(cur)).to_dict()

#         if dictcount<=1:
#             tweets_df1.update({'name':nameseries})
#             tweets_df1.update({'handle':handleseries})
#             dfdict={**dfdict,**tweets_df1}
#         else:
#             for key in dfdict.keys():
#                     tweets_df1.update({'name':nameseries})
#                     tweets_df1.update({'handle':handleseries})
#                     a=tweets_df1.get(key)
#                     b=dfdict.get(key)
#                     c={**a,**b}
#                     dfdict=dfdict.update({key:c})
#     except:
#         # errornames.append(name)
#         # print('errornames:\n',len(errornames))
#         pass 


#     display(dfdict)
    
    
        
        
  
   

#     return dfdict


  
# moddicts,celebs=parralledindexer()
# values=[]
    
    

            
# if __name__ == "__main__":
#     # input list
#     arglist=[]   
#     for m,v in moddicts.items():
#         arglist.append({m:v})
  
    
  
#     # creating new process
#     p1 = multiprocessing.Process(target=partitionableTwitterscraper, args=(arglist,))
#     # starting process
#     p1.start()
#     # wait until process is finished
#     p1.join()
  
#     # print global result list
#     print("Result(in main program): {}".format(result))

In [ ]:
# maindict=list()

# def argcreateator(n=3):
#     url='https://gist.githubusercontent.com/mbejda/9c3353780270e7298763/raw/1bfc4810db4240d85947e6aef85fcae71f475493/Top-1000-Celebrity-Twitter-Accounts.csv'
#     tweet_count=100

#     celebs=pd.read_csv(url).to_dict()

#     tweet_count =n #this number is the last n tweets
#     dflist=[]
#     dfdict={}
#     count=-1*tweet_count
#     celeblen=len(celebs.get('twitter').keys())
#     numindex=list(range(0,tweet_count*celeblen))
#     len(numindex)
#     arglist=[]



   

#     for c in range(0,celeblen):
#         count=count+tweet_count
#         maxnum=count+tweet_count

#         twitter_handle=(celebs.get('twitter')[c])
#         name=(celebs.get('name')[c])

#         cur=pd.Index(numindex[count:maxnum])

#         #create Series to append the current handle to the dataframe
#         handleseries={i:twitter_handle for i in cur}       
#         #create Series to append the current name to dataframe   
#         nameseries={i:name for i in cur}
#         arglist.append([cur,nameseries,handleseries])
#     return arglist




# def tweetrip(tweet_count,twitter_handle,nameseries,handleseries,cur):
#     global maindict
#     os.system("snscrape --jsonl --max-results {} twitter-search 'from:{}'> user-tweets.json".format(tweet_count, twitter_handle))
#      # Reads the json generated from the CLI command above and creates a pandas dataframe
#      #if there is an error then it will just move to the next  
#     tweets_df1 = pd.read_json('user-tweets.json', lines=True).set_index(keys=cur).to_dict()
#     tweets_df1.update({'name':nameseries})
#     tweets_df1.update({'handle':handleseries})
#     maindict.append(pd.DataFrame(tweets_df1))





# def threader(arglist):
    



#     dictcount=0
#     errornames=[]

   

#     # for i in range(0,len(arglist)):
#     for i in range(0,len(arglist)):
#         tweet_count=len(arglist[i][0]);#display(tweet_count)
#         nameseries=arglist[i][1];#display(nameseries)
#         handleseries=arglist[i][2];#display(handleseries)
#         twitter_handle=list(handleseries.values())[0];#display(twitter_handle)
#         cur=arglist[i][0];#display(cur)
#         try:
#             tweetrip(tweet_count,twitter_handle,nameseries,handleseries,cur)
            

    
#         except:
#             errornames.append(twitter_handle)
#             print(errornames)
#             pass



# if __name__ == "__main__":
#     # input list
#     arglist=argcreateator(n=3)   
    
    
  
#     # creating new process
#     p1 = multiprocessing.Process(target=threader, args=(arglist,))
#     # starting process
#     p1.start()
#     # wait until process is finished
#     p1.join()
#     print(maindict)
  
#     # print global result list